@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #003f7f;
    --navbar-height: 4rem;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  @font-face {
    font-family: 'MiSans VF';
    font-style: normal;
    font-weight: 305;
    src: url(../assets/fonts/MiSans\ VF.woff2) format('woff2');
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer components {
  .wrapper {
    @apply mx-auto max-w-7xl px-4;
  }
  .title {
    @apply text-5xl font-[600] max-sm:text-3xl;
  }
  .divider {
    @apply w-full h-[1px] bg-[#ccc];
  }
  .card-v2 {
    @apply bg-white rounded-lg shadow-md hover:shadow-xl cursor-pointer;
  }
  .list-primary {
    @apply list-disc list-outside [&>li::marker]:text-primary-light space-y-5;
  }

  .avatar-wrapper {
    @apply relative;
  }

  .avatar-wrapper:hover {
    @apply cursor-pointer;
  }

  .avatar-wrapper:hover::after {
    @apply flex justify-center items-center w-full h-full top-0 absolute cursor-pointer rounded-full pointer-events-none;
    content: '更改头像';
    background: #000000b3;
    color: white;
    font-weight: 530;
  }
}

.tag-default {
  @apply border border-[#E0E0E0] bg-white text-black-666 text-sm py-1 px-2 rounded w-max;
}

body {
  @apply min-h-screen text-sm;
  font-family:
    MiSans VF,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

/* 基础字体大小 */
html {
  font-size: 16px;
}

/* 1920px 以上的屏幕 */
@media screen and (min-width: 2560px) {
  html {
    font-size: 18px;
  }
}

/* 针对整个滚动条 */
::-webkit-scrollbar {
  width: 10px; /* 滚动条宽度 */
  height: 10px; /* 水平滚动条高度 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: #f0f0f0; /* 轨道背景色 */
  border-radius: 10px; /* 圆角效果 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #ccc; /* 滑块颜色 */
  border-radius: 10px; /* 滑块圆角 */
  border: 2px solid #f0f0f0; /* 添加边框以间隔滑块和轨道 */
}

/* 鼠标悬停在滚动条滑块上的效果 */
::-webkit-scrollbar-thumb:hover {
  background: #999; /* 滑块悬停颜色 */
}

/* 针对 Firefox 浏览器 */
.scroll-container {
  scrollbar-width: thin; /* 细滚动条 */
  scrollbar-color: #888 #f0f0f0; /* 滑块颜色和轨道颜色 */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

a {
  @apply cursor-pointer;
}

h2,
h3 {
  @apply font-semibold;
}

.slick-prev:before,
.slick-next:before {
  color: #279d9f !important;
}
.slick-dots .slick-active button:before {
  color: #279d9f !important;
  opacity: 1 !important;
}

.slick-dots-white li button:before {
  color: #fff !important;
  opacity: 1 !important;
}

.slick-dots-grey li button:before {
  color: #ccc !important;
  opacity: 1 !important;
}

.section-title {
  @apply font-medium mb-2;
}

.plan-item {
  @apply relative max-w-[410px] max-sm:w-[100%] max-sm:mx-auto;
  .icon {
    @apply text-[#92c162] text-base;
  }
}

@media (min-width: 640px) {
  .plan-item:hover {
    .icon {
      color: #fff;
    }

    .hover-shadow {
      opacity: 0.15;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #104456 100%);
    }

    .bg-blue {
      background: linear-gradient(180deg, #1ba8dd 0%, #7fc5f2 100%);
      border: none;
      color: white;
    }

    .bg-purple {
      background: linear-gradient(180deg, #7676ef 0%, #a0a0ff 100%);
      border: none;
      color: white;
    }

    .bg-orange {
      background: linear-gradient(180deg, #ff640a 0%, #ff8541 100%);
      border: none;
      color: white;
    }
  }
}
